POSTGRES_USER=kaleem
POSTGRES_PASSWORD=kaleem123
POSTGRES_DB=kaleem_store
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_PUBLIC_BUCKET=kaleem-media
MINIO_PRIVATE_BUCKET=kaleem-private
